#img-bg {
    /* background:url('https://source.unsplash.com/mountains-and-lakes-are-shrouded-in-mist-8xXFONfEUtA'); */
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-image: url('../assets/barbare-kacharava-BPHyN1U_ci8.jpg');
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #11141a;

}

.navbar {
    background: #11141a;
}

@media (max-width: 768px) {
    #img-bg {
      background-size: cover; /* or 'cover' depending on your design */
      background-position: center;
      background-repeat: no-repeat;
      height: 300px; /* You can adjust this height for mobile view */
      width: 768px;
    }
  }
  